@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --backgorund: 0 100% 50%;
    --primary: 174.6 99.5% 47.2%;
    --border: 240 5.9% 90%;
  }

  .dark {
    --background: 240 10% 3.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background font-manrope  w-screen h-screen;
  }
}
